:root {
    --IRIS: #4d5ae5;
    --NAVY-BLUE: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
}

.logo {
    text-decoration: none;
    color: var(--NAVY-BLUE);
}
.logo span {
    color: var(--IRIS);
}
